<!DOCTYPE html>
<html lang="en">

{% include 'partials/head.twig' %}

<body>
<section class="section">

<div class="container">
    <h1 class="title">{{ title|default('Default Title')|e }}</h1>
    <p>{{ message|default('Default Message!')|e }}</p>
</div> <!-- /container -->

</section>
</body>

</html>